.travelPost {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 5rem;
  }
  
  .image {
    width: 100%;
    border-radius: 8px;
  }
  
  .author {
    font-style: italic;
  }
  